{% extends "base.html" %}

{% block content %}

<!-- About Page content starts here -->
<div class="container-fluid">
    <div class="row">
        
        <!-- Main content column -->
        <div class="col-8 mt-4 center">
            <h1 class="mb-4">About the Star Wars Fan Blog</h1>
            <div class="card mb-4">
                <div class="">
                    <h3>Welcome, Fellow Star Wars Fans!</h3>
                    <p>Welcome to the Star Wars Fan Blog! Here, we celebrate everything related to the legendary Star Wars universe. From in-depth movie analyses to fan theories, character breakdowns, and the latest news about upcoming Star Wars releases, this is the place for all things Star Wars. Whether you're a die-hard fan of the original trilogy or someone who loves The Mandalorian, there's something here for you!</p>

                    <h4>What You Can Expect</h4>
                    <ul>
                        <li>Movie and TV Series reviews: Explore both the classics and new content like "The Mandalorian" and "Ahsoka".</li>
                        <li>Fan Theories: Speculate and discuss possible storylines, characters, and hidden details from the Star Wars universe.</li>
                        <li>Character Spotlights: Dive deep into the lore of iconic characters like Darth Vader, Yoda, Rey, and more!</li>
                        <li>Behind-the-scenes looks: Discover the making of the Star Wars universe with articles about special effects, sound design, and cinematography.</li>
                    </ul>

                    <h4>About the Author</h4>
                    <p>Hi! I'm [Your Name], the creator of this blog. I've been a Star Wars fan for as long as I can remember, and I'm passionate about sharing my love for this galaxy far, far away with all of you. As a huge fan of both the old films and new content, I enjoy exploring all the intricate details of Star Wars and discussing it with fellow enthusiasts.</p>

                    <p>I hope this blog can serve as a hub for fellow Star Wars fans to gather, share, and immerse themselves in the galaxy's rich history, characters, and stories. May the Force be with you!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Page content ends here -->
{% endblock %}
