{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12">
            <div class="card shadow-sm">
                <div class="card-img-container">
                    {% if post.image_url %}
                    <img src="{{ post.image_url }}" class="card-img-top img-fluid" alt="{{ post.title }}">
                    {% endif %}
                <div class="card-body">
                    <h2 class="card-title h5 mb-3 text-dark">{{ post.title }}</h2>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="author text-muted">Author: {{ post.author }}</p>
                        <p class="text-muted small">{{ post.created_on }}</p>
                    </div>
                    <div class="post-content" style="color: black;">
                        <p>{{ post.content }}</p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
